<app-navbar></app-navbar>
<div id="heading" class="text-center font-weight-bold">Quiz</div>
<img id = "img" src="../../assets/images/line.svg" height="200" width="100%">
<div id="name" class="py-4 mb-0 px-3 ml-2 mr-2">
    <div id="head1" class="text-center text-white"><strong>Quiz</strong> Secure, Professional Web Based Quiz Easy to use,for business, training and educational assessment with instantly scored tests and quizzes saving you hours of paperwork!</div>
</div>
<div id = "con" class="container">
    <div class="bg-white rounded shadow-lg mb-5 mt-5 py-3 px-3">
        <div class="row row-cols-2 py-3">
            <div class="col">
            <img src="../../assets/images/assess.jpg" width="500" height="300">
            </div>

            <div class="col">
            <br><br><br>
            <h5 class="card-title"><strong>Take The Assessment</strong></h5>
            <p class="card-text">Spend less than 15 min answering 10 Questions about your selected Category.</p>
            </div>

            <div class="col">
            <br>
            <img src="../../assets/images/Score.jpg" width="500" height="300">
            </div>
            
            <div class="col">
            <br><br><br>
            <h5 class="card-title"><strong>See How You Scored</strong></h5>
            <p class="card-text">You will immediately see your overall score, which measure your current ability.</p>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>

