body{
    background-color:#E5E7E9;
}
#block{
    background-color: #B9770E;
    height: 40px;
}
.sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #B9770E;
    overflow-x: hidden;
    padding-top: 20px;
}
.main {
    
    margin-left: 200px;
    font-size: 28px;
    padding: 10px 10px 10px;
    background-color: white;
    overflow-x: hidden;
    margin-right:10px;
    margin-top:10px;
}
.top{
    background-color:#E5E7E9;
    margin-top:none;
}
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
#Heading{
    background-color: #E5E7E9;
    
}
.inst{
    font-size:15px;
}
span{
    padding-right: 20px;
}
