<app-navbar></app-navbar>
<table>
    <tr>
		<th>
			<div id = "back" class="container">
				<h1 class="display-4">Ready for<br>meaningful engagement?</h1>
				<p class="lead">Find and Create exciting Quizzzzes.</p>
				<a class="btn btn-lg" [routerLink] = "['/getstart']" role="button">Get Started <i class="bi bi-arrow-right-short"></i></a>
			</div>
		</th>

		<th>
			<img src="../../assets/images/Effective-teamwork.png" width="820" height="513">
		</th>
    </tr>     
</table>       
<app-footer></app-footer>
