<!DOCTYPE html>
<html>
<head></head>
<body>
    <br><br>
    <footer class="pt-3 my-md-3 pt-md-3 border-top" style="padding-left: 20px; padding-right: 20px;">
        <div class="row">
            <div class="col-12 col-md">
                <img src="./assets/images/quizlog-removebg-preview.png" width="50" height="50">
                <span class="text-muted">  &copy; 2021-All Rights Reserved.</span>
            </div>

            <span><a class="text-muted" [routerLink] = "['/contactus']">Contact us</a></span>
            <span><a class="text-muted" [routerLink] = "['/privacy']">Privacy & Terms</a></span>
            
            <span>
                <a><i class="bi bi-twitter"></i></a>
                <a id ="mid"><i class="bi bi-instagram"></i></a>
                <a ><i class="bi bi-facebook"></i></a>
            </span>
        </div>
    </footer>
</body>
</html>

