<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List OF User Details</title>
</head>
<body>
<div align="center">
<H1>List of All The Users</H1>
<br/>
 <table border="1" cellpadding="10">
   <thead>
     <tr>
        <th>UserId</th>
        <th>UserName</th>
        <th>email Id</th>
        <th>Phone</th>
        <th>Product Perchased</th>
        <th>Perchase Date</th>
        <th>Category</th>
        <th>Create Date</th>
        <th>Last Update Date</th>
      </tr>
     </thead>
     <tbody>
       <tr th:each="userdetails : ${listUsers}">
          <td th:text="${userdetails.userId}">UserId</td>
          <td th:text="${userdetails.username}">UserName</td>
          <td th:text="${userdetails.emailId}">email Id</td>
          <td th:text="${userdetails.phone}">Phone</td>
          <td th:text="${userdetails.productPerchased}">Product Perchased</td>
          <td th:text="${userdetails.perchaseDate}">Perchase Date</td>
          <td th:text="${userdetails.category}">Category</td>
          <td th:text="${userdetails.createDate}">Create Date</td>
          <td th:text="${userdetails.lastUpdateDate}">Last Update Date</td>
        </tr>
     </tbody>
     </table>
     <a href="/logout">LogOut</a>
   </div>
</body>
</html>